.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      bottom: 30vw;
    }

    .service {
      background: var(--color-bg-variant);
      border-radius: 0 0 2rem 2rem;
      border: 1px solid var(--color-primary);
      height: fit-content;
      transition: var(--transition);
    }

    .service:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
    }
    .service__head {
        background: var(--color-primary);

        border-radius: 0 0 2rem 2rem;
        box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
      }
      .service__head h3 {
        color: var(--color-bg);
        font-size: 1rem;
        text-align: center;
      }
      .service__list {
padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .service__list li {
        display: flex;

        margin-bottom: 1rem;
        align-items: center;
        gap: 1rem;
      }
      .service__list-icon {
        color: var(--color-primary);
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;

      }
      .service__list p {
        font-size: 0.9rem;
      }
      .serlist{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

      }
      /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}