.quote{
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.margin{

}
.qot2{
    display: flex;
    gap: 0rem;
    justify-content: flex-end;
    align-items: center;
}

.btnqot{
    display: flex;
    justify-content: flex-end;
    width: max-content;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);

}

.btnqot:hover{
    background-color: transparent;
    color: var(--color-primary);
}

.saying{
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: var(--color-primary);
    text-align: center;
    text-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .saying{
        font-size: 14px;
    }
}