.quote{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.quotebox33{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.btnqot{
    display: flex;
    justify-content: flex-end;
    width: max-content;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);

}

.btnqot:hover{
    background-color: transparent;
    color: var(--color-primary);
}

.saying{
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: center;

}
.saying1{
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: center;
    background: linear-gradient(90deg, red, orange, yellow, green, orange, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent; /* Fallback for other browsers */
}
@media screen and (max-width: 600px) {
    .saying{
        font-size: 14px;
    }
}