.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
.segments{
  display:  flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.segments>h2{
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.5s ease;
}
.segments>h2:hover{
  transform: scale(1.1);
}
.certifications{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.badge{
  width: 350px;
  min-height: 250px;
  max-height: 250px;


}
  .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
  }

  .portfolio__item-image {
    display: grid;
    border-radius: 2.0rem;
    overflow: hidden;
transform: scale(1.1);
  }
.portimage{
  max-height: 200px;
  min-height: 200px;
}

  .portfolio__item h3 {
    margin: 1.4rem 0 2rem;
  }

  .portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
.projectactive{
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
}
.certactive{
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
}
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  @media screen and (max-width: 1024px) {
    .portfolio__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
    }
    .certifications{
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
    }
    .badge{
      width: 320px;
      max-height: 220px;
    }
  }

  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .portfolio__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .certifications{
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .badge{
      width: 320px;
      max-height: 220px;
    }
  }